h1{
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: rgb(129, 64, 118);
}
.vantay{
    position: relative;
}
.anthanchithuat{
    opacity: 0;
}
.icon-len:hover{
    scale: 125%;
}

.icon-len{
    position: absolute;
    top: 70%;
    left: 57%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}